UREPO_ROOT=/var/urepo
UREPO_UPLOAD_DIR=$UREPO_ROOT/upload
UREPO_LOG=/var/log/urepo/urepo.log

DEB_REPO_ROOT=/var/urepo/deb
DEB_CODENAMES="bionic focal jammy"
DEB_ARCHITECTURES="amd64"
DEB_COMPONENTS="stable testing"
declare -A DEB_CUSTOM_ARCHES=(
    [focal]="arm64"
)

RPM_REPO_ROOT=/var/urepo/rpm
RPM_RELEASES="centos7 rocky8 rocky9"
RPM_ARCHITECTURES="x86_64 SRPMS"
RPM_COMPONENTS="stable testing"
declare -A RPM_CUSTOM_ARCHES=(
    [centos7]="aarch64"
)

